# Ignore everything
/*
# Allow directories 
#!*/

# Whitelist
!.gitignore

!/AppData/
/AppData/*
!/AppData/Local/
/AppData/Local/*
!/AppData/Local/nvim/
/AppData/Local/nvim/*
!/AppData/Local/nvim/init.vim
!/AppData/Local/nvim/ginit.vim
!/AppData/Local/nvim/autoload/
/AppData/Local/nvim/autoload/*
!/AppData/Local/nvim/autoload/plug.vim
