# Ignore everything
/*

# Whitelist
!.gitignore

!/AppData/
/AppData/*

!/AppData/Local/
/AppData/Local/*

!/AppData/Local/nvim/
/AppData/Local/nvim/*
!/AppData/Local/nvim/init.vim
!/AppData/Local/nvim/ginit.vim
!/AppData/Local/nvim/autoload/
/AppData/Local/nvim/autoload/*
!/AppData/Local/nvim/autoload/plug.vim

!/AppData/Roaming/
/AppData/Roaming/*

!/AppData/Roaming/Code/
/AppData/Roaming/Code/*
!/AppData/Roaming/Code/User/
/AppData/Roaming/Code/User/*
!/AppData/Roaming/Code/User/settings.json


!/.config/
/.config/*
!/.config/nvim

!/Documents/
/Documents/*
!/Documents/PowerShell/
/Documents/PowerShell/*
!/Documents/PowerShell/Microsoft.PowerShell_profile.ps1

!/scripts/
/scripts/*
!/scripts/install-software.ps1
!/scripts/file-assoc.ps1
