set commentary
set ignorecase
set showmode
set hlsearch

let mapleader = ','

nmap <leader>[ :action Back<CR>
nmap <leader>] :action Forward<CR>
nmap <leader>b[ :action PreviousEditorTab<CR>
nmap <leader>b[ :action NextEditorTab<CR>
nmap <silent>bd :action CloseActiveTab<CR>
nmap <leader>d[ :action GoToPreviousError<CR>
nmap <leader>d] :action GoToNextError<CR>

nmap <silent> <leader>gd :action GoToDeclaration<CR>
nmap <silent> <leader>gt :action GoToTypeDeclaration<CR>
nmap <silent> <leader>gi :action GoToImplementation<CR>
nmap <silent> <leader>gr :action ShowUsages<CR>
nmap <silent> <leader>gs :action GoToSymbol<CR>

" nmap <silent> <leader>k :action ?

nmap <silent> <leader>ar :action RenameElement<CR>
nmap <silent> <leader>am :action RefactoringMenu<CR>
nmap <silent> <leader>af :action ReformatCode<CR>
" nmap <silent> <leader>al :action

" nmap <silent> <leader>c :action ?
nmap <silent> <leader>f :action GoToFile<CR>

nmap <silent> <leader>w :action SaveDocument<CR>
nmap <silent> <leader>W :action SaveAll<CR>

